body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
}

header{
    background-color: cadetblue;
    color: white;
    padding: 20px;
    text-align: center;
}


.fotoPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

a{
    text-decoration: none;
    color: #f4f4f4;
}

