body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: darkgray;
    align-items: center;
}

header{
    background-color: cadetblue;
    color: white;
    padding: 20px;
    text-align: center;
}


.fotoPerfil{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

a{
    text-decoration: none;
    color: #f4f4f4;
}

.conteudoPrincipal{
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-radius: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    color: black;
}


footer{ 
    text-align: center;
    padding: 10px;
    background-color: cadetblue;
    color: #f4f4f4;
    margin: 20px 0 0 0;
};
